.btn {
    width: 160px;
    height: 45px;
    background-color: $main-color;
    border-radius: 30px;
    border: none;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    &_main {
        margin-left: 18px;
    }
    &_calc {
        display: block;
        width: 230px;
        height: 57px;
        margin: 40px auto 0 auto;
    }
    &_price {
        margin-top: 25px;
    }
    &_consult {
        display: block;
        position: absolute;
        width: 180px;
        height: 45px;
        bottom: -23px;
    }
    &_question {
        display: block;
        margin: 15px auto;
    }
}