.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
    &_content {
        position: fixed;
        top: 10%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 40rem;
        background-color: #ffffff;
        text-align: center;
        border-radius: 1rem;
        
    }
    &_close {
        position: absolute;
        top: -2.2rem;
        right: -3rem;
        font-size: 4rem;
        color: #ffffff;
        border: none;
        background: transparent;
    }
    &_form {
        .form {
            padding: 2rem 5rem;
            text-align: center;
            background-color: #fff;
            border-radius: 1rem;
            h2 {
                margin-bottom: 3rem;
                font-size: 2rem;
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                font-style: normal;
                color: #333333;
                line-height: 1.5;
            }
        }
    }
}

.form_input {
    height: 2.8rem;
    padding: 0;
    margin-bottom: 2rem;
    text-align: center;
    border-radius: 1rem;
    -moz-box-sizing: border-box;
}

.button_call {
    margin-bottom: 20px;
    border-radius: 20px;
    height: 50px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    &:hover {
        background-color: #fff;
    }
}

.form_notice {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    color: #666;
}
