/* .divider {
    width: 810px;
    border: 1px solid #fff;
    margin: 38px auto 0 auto;
} */
.promo {
    min-height: 700px;
    padding: 23px 0 80px 0;
    background: url('../../img/main.jpg') center/cover no-repeat;
    &__header {
        display: flex;
        align-items: center; 
    }
    &__logo {
        margin-right: 55px;
    }
    &__menu {
        width: 600px;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin-right: 50px;
        margin-bottom: 0;
    }
    &__link {
        line-height: 16px;
        font-size: 15px;
        color: #ffffff;
        font-weight: 400;
        &:hover {
            color: $main-color;
        }
    }
    &__item {
        border-right: 1px dotted #fff;
		padding-right: 11px;
        &:last-child {
			border-right: none;
        }
    }
    &__phone {
        width: 345px;
        display: flex;
        &-info {
            display: flex;
            flex-direction: column;
            align-items: end;
            
        }
        &-qustion {
            font-family: Roboto;
            line-height: 24px;
            font-size: 14px;
            color: #ffffff;
            font-weight: 300;
        }
        &-nmb {
            font-family: Roboto;
            font-size: 18px;
            font-weight: 700;
            color: #ffffff;
            &:hover{
                text-decoration: none;
                color: $main-color;
            } 
        }
    }
    &__title {
        margin-top: 58px;
        text-align: center;
        font-family: Roboto;
        font-size: 24px;
        font-weight: 300;
        color: #ffffff;
    }
    &__subtitle {
        text-align: center;
        font-size: 72px;
        text-transform: uppercase;
        font-weight: 700;
        color: $main-color;
    }
    &__info {
        font-size: 42px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
    }
    &__line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 810px;
        margin: 38px auto 0 auto;
        height: 1px;
        
        span {
            width: 10px;
            height: 10px;
            background-color: #fff;
            border: 1px solid #fff;
            border-radius: 100%;
        }
        &-divider {
            width: 390px;
            border: 1px solid #fff;
        }
    }
    &__wrapper {
        margin-top: 35px;
        display: flex;
        justify-content: space-between;
        &-item {
            width: 300px;
            img {
                display: block;
                width: 67px;
                height: 54px;
                margin: 0 auto 15px auto;
            }
        }
        &-descr {
            font-size: 16px;
            font-weight: 300;
            line-height: 22px;
            color: #ffffff;
            text-align: center;
        }
    }
}

